<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ketech.mapper.MachineFactoryMapper">
    <resultMap id="BaseResultMap" extends="com.ketech.mapper.MachineMapper.BaseResultMap" type="com.ketech.vo.MachineFactoryBean">
        <association property="location" javaType="com.ketech.po.Location" resultMap="com.ketech.mapper.LocationMapper.BaseResultMap"/>
    </resultMap>

    <select id="selectMachineAndFactoryByMachine" parameterType="com.ketech.po.Machine" resultMap="BaseResultMap">
        SELECT
            m.machine_id,
            m.machine_name,
            m.factory_id,
            m.status,
            l.location_name,
            l.location_charger_name,
            l.location_charger_phone
        FROM
            machine m
        lEFT JOIN location l ON m.factory_id = l.location_id
    </select>

</mapper>