<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ketech.mapper.MachineFactoryMapper">
    <resultMap id="BaseResultMap" extends="com.ketech.mapper.MachineMapper.BaseResultMap" type="com.ketech.vo.MachineFactoryBean">
        <association property="factory" javaType="com.ketech.po.Factory" resultMap="com.ketech.mapper.FactoryMapper.BaseResultMap"/>
    </resultMap>

    <select id="selectMachineAndFactoryByMachine" parameterType="com.ketech.po.Machine" resultMap="BaseResultMap">
        SELECT
            m.machine_id,
            m.machine_name,
            m.factory_id,
            m.status,
            f.factory_name,
            f.factory_charger,
            f.charger_phone
        FROM
            machine m
            INNER JOIN factory f ON m.factory_id = f.factory_id
    </select>

</mapper>